@import (reference) "../App.module.less";


.mainImage {
    border: 1px solid red;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        height: 100%;
        width: 100%;
    }

    .fileInput{
        .fileInput;
    }
}


